@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url('background.jpeg');
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .bio-container {
    background-color: black;   /* Or whatever background you prefer */ 
    width: 12in;
    height: 8in;
    border-radius: 10px; 
    box-shadow: 0 0 20px 10px rgba(0, 76, 105, 0.8);
    text-align: center;
  }
  
  .title {
    font-size: 55px; 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

    .gradient-text {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(197, 100%, 21%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center; /* Keeps text centered */
}
